<!DOCTYPE html>
<html lang="en">
<head>
  <title>VideoCourse</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
   <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div style="position: absolute; visibility: hidden" id="notice"><%= notice %><%= alert %></div>
<div id="ohsnap"></div>
<div class="overlay hidden-elem"></div>

<%= yield %>

    <script>tinymce.init({ selector:'.wysiwig' });</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
